<!-- Footer Start -->
<div class="container-fluid bg-dark text-light pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Plot 574 Nsambya Estate Rd Behind the American Embassy</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0393255822</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>crimewatchug@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://x.com/Crimewatch_ug"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/crime-watch-ug-7280a4339?trk=contact-info"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://wa.me/256393255822"><i class="fab fa-whatsapp"></i></a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Opening Hours</h4>
                <h6 class="text-light">Monday - Friday:</h6>
                <p class="mb-4">09.00 AM - 09.00 PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Services</h4>
                <a class='btn btn-link text-white' href='events.html'>Sensitization</a>
                <a class='btn btn-link text-white' href='events.html'>Free Legal Aid and Advocacy</a>
                <a class='btn btn-link text-white' href='events.html'>Crime Prevention</a>
                <a class='btn btn-link text-white' href='events.html'>Community Empowerment</a>
                <a class='btn btn-link text-white' href='events.html'>Justice Advocacy</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Newsletter</h4>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class='border-bottom' href='events.html#'>Crime Watch Uganda</a>, All Right Reserved.

                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href='events.html'>Home</a>
                        <a href='events.html'>Cookies</a>
                        <a href='events.html'>Help</a>
                        <a href='events.html'>FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->