{% load static %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 pt-4" style="min-height: 400px;">
                <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/inv.jpg' %}" style="object-fit: cover;" alt="">
                    <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                        <h1 class="display-4 text-white mb-0">12 <span class="fs-4">Years</span></h1>
                        <h4 class="text-white">Experience</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="text-primary text-uppercase">About Us</h6>
                <h1 class="mb-4"><span class="text-primary">Crime Watch Uganda</span></h1>
                <p class="mb-4">
                    Crime Watch Uganda is dedicated to creating peaceful, safe, and secure communities with a strong focus on crime prevention through collaborative efforts and coordinated agency action. We work closely with community members, government agencies, and various organizations to identify challenges, recommend solutions, and promote community safety and crime prevention.
                </p>
                <p class="mb-4">
                    Our mission involves mobilizing communities to collaborate with agencies in addressing social issues, sharing valuable information, and exchanging best practices. We empower community leaders and stakeholders by providing leadership training, equipping them to actively engage others as advocates for a safer society.
                </p>
                <a class='btn btn-primary py-3 px-5' href='about.html'>Read More<i class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->