{% load static %}

<!-- Service Start -->
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">Our Services</h6>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <i class="fa fa-briefcase fa-2x me-3"></i>
                        <h4 class="m-0">Free Legal Aid and Advocacy</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                        <i class="fa fa-lightbulb fa-2x me-3"></i>
                        <h4 class="m-0">Sensitization</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <i class="fa fa-shield-alt fa-2x me-3"></i>
                        <h4 class="m-0">Crime Prevention</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <i class="fa fa-people-carry fa-2x me-3"></i>
                        <h4 class="m-0">Community Empowerment</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-5" type="button">
                        <i class="fa fa-balance-scale fa-2x me-3"></i>
                        <h4 class="m-0">Justice Advocacy</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-6" type="button">
                        <i class="fa fa-child fa-2x me-3"></i>
                        <h4 class="m-0">Juvenile Justice Advocacy</h4>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/lawyer.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">Free Legal Aid and Advocacy</h3>
                                <p class="mb-4">
                                    Our organization provides free legal aid and representation to vulnerable individuals and communities who cannot afford legal services. We believe that access to justice is a fundamental human right, and we are committed to ensuring that everyone has an equal opportunity to seek justice and protect their rights. Our team of experienced lawyers and advocates work tirelessly to provide quality legal services to our clients, and we are proud of the positive impact we have made in the lives of many people.
                                <p><i class="fa fa-check text-success me-3"></i>Quality Service</p>
                                <p><i class="fa fa-check text-success me-3"></i>Expert Workers</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/work-2.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">12 Years Of Experience In Sensitization</h3>
                                <p class="mb-4">
                                    Crime Watch Uganda has developed a deep understanding of the needs and concerns of diverse communities. Our extensive work in educating the public on safety, rights, and crime prevention has built trust and strengthened our ability to foster safer environments. We engage directly with individuals and groups, providing clear, actionable information on issues that impact their daily lives. Through our commitment to raising awareness and promoting proactive community involvement, we empower citizens to be active participants in creating secure, peaceful neighborhoods.
                                </p>
                                <p><i class="fa fa-check text-success me-3"></i>Quality Service</p>
                                <p><i class="fa fa-check text-success me-3"></i>Expert Workers</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/crime.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">12 Years Of Experience In Crime Prevention</h3>
                                <p class="mb-4">
                                    Crime Watch Uganda is committed to preventing crime and promoting community safety. We work closely with local authorities, community groups, and residents to identify and address the root causes of crime, and to develop effective strategies for preventing it. Our crime prevention programs focus on education, awareness-raising, and community engagement, and we work to empower individuals and communities to take an active role in preventing crime and promoting safety.
                                </p>
                                <p><i class="fa fa-check text-success me-3"></i>Quality Servicing</p>
                                <p><i class="fa fa-check text-success me-3"></i>Expert Workers</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/train.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">Community Empowerment</h3>
                                <p class="mb-4">
                                    Crime Watch Uganda has successfully equipped community leaders and stakeholders with the skills and knowledge needed to drive positive change. Our leadership programs focus on building confidence, enhancing communication, and promoting effective decision-making, enabling participants to become influential advocates for safety and development within their communities. By fostering these strong, capable leaders, we ensure a lasting impact, empowering communities to address challenges, inspire others, and build a more secure, cohesive society.
                                </p>
                                <p><i class="fa fa-check text-success me-3"></i>Quality Servicing</p>
                                <p><i class="fa fa-check text-success me-3"></i>Expert Workers</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-5">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/scale.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">Justice Advocacy</h3>
                                <p class="mb-4">
                                    Crime Watch Uganda promotes justice and fair treatment for all individuals, through advocacy and alternative dispute resolution. We work with local authorities, community groups, and residents to identify and address the root causes of conflict, and to develop effective strategies for resolving disputes peacefully and fairly. Our advocacy programs focus on education, awareness-raising, and community engagement, and we work to empower individuals and communities to take an active role in promoting justice and resolving conflicts peacefully.
                                </p>
                                <p><i class="fa fa-check text-success me-3"></i>Quality Servicing</p>
                                <p><i class="fa fa-check text-success me-3"></i>Expert Workers</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-6">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/juvenile.webp' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">Juvenile Justice Advocacy</h3>
                                <p class="mb-4">
                                    Crime Watch Uganda's Juvenile Justice Advocacy program is dedicated to promoting the rights and well-being of children and young people in conflict with the law. We work to ensure that children are treated fairly and with dignity, and that their rights are protected throughout the criminal justice process. Our advocacy programs focus on providing access to legal aid, promoting alternative sentencing options, and supporting the rehabilitation and reintegration of young people back into their communities.
                                </p>
                                <p><i class="fa fa-check text-success me-3"></i>Quality Servicing</p>
                                <p><i class="fa fa-check text-success me-3"></i>Expert Workers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->